[user]
    name = Drausin Wulsin
    email = daedalus2718@gmail.com

[alias]
    br = branch
    ci = commit
    co = checkout
    df = diff
    lg = log --graph --decorate --pretty=oneline --abbrev-commit
    last = log -1 HEAD
    me = merge
    pop = stash pop
    st = status -s
    branch-name = rev-parse --abbrev-ref HEAD
    po = "!git push origin $(git branch-name)"

[rerere]
    enabled = true

[color]
    ui = true

[core]
    editor = vim
    excludesfile = ~/.gitignore_global
    autocrlf = input

[push]
    default = simple

[pull]
    default = current
    ff = only
[commit]
    # Sign commits using GPG
    # gpgsign = true

[diff]
    tool = vimdiff
    algorithm = patience

[merge]
    tool = vimdiff
    conflictstyle = diff3

[credential]
    helper = cache --timeout=3600

[branch]
    autosetuprebase = always

[pager]
    branch = false

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true


